# Managed by Ansible (Atmos). k3s server config.
token: "{{ k3s_token }}"
node-ip: "{{ k3s_node_ip }}"
tls-san:
  - "{{ control_plane_vip }}"
  - "{{ k3s_node_ip }}"
flannel-backend: "none"
disable-network-policy: true
disable-kube-proxy: true
disable:
{% for item in k3s_server_disable %}
  - "{{ item }}"
{% endfor %}
cluster-cidr: "{{ pod_cidr }}"
service-cidr: "{{ service_cidr }}"
cluster-dns: "{{ cluster_dns }}"
write-kubeconfig-mode: "0644"
{% if k3s_cluster_init | bool %}
cluster-init: true
{% else %}
server: "https://{{ control_plane_vip }}:{{ api_port }}"
{% endif %}
