[defaults]
inventory = inventory/hosts.yml
host_key_checking = False
roles_path = roles
interpreter_python = /usr/bin/python3
stdout_callback = default
retry_files_enabled = False
gathering = smart
fact_caching = jsonfile
fact_caching_connection = /tmp/atmos-k3s-facts
fact_caching_timeout = 3600

[callback_default]
result_format = yaml

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no

[privilege_escalation]
become = True
become_method = sudo
become_user = root
